
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>Header Intro | Luminate</title>

    <!-- Custom styles for this template -->
    <link href="../assets/styles/default.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../assets/styles/bootstrap.css" rel="stylesheet">
    <link href="../assets/styles/main.css" rel="stylesheet">
    <link href="../assets/styles/preview.css" rel="stylesheet">
    <link href="../assets/styles/perficient.css" rel="stylesheet">

    <script src="https://use.fontawesome.com/aed209e344.js"></script>
</head>
<body>


<header class="c-header--styleguide" role="banner">
    <div class="c-header__content">
        <nav class="c-breadcrumbs o-inline-list">
            <ul class="list-inline">

                <li>

                    <a href="../index.html">

                        Views
                    </a>


                </li>

                <li>

                    Claim Circle

                </li>

            </ul>

        </nav>

    </div>
</header>
<div class="c-header__push"></div>

<!-- Navbar Toggle -->
<input type="checkbox" class="c-navbar__toggle c-navbar__toggle--styleguide" id="navbar__toggle--styleguide" name="navbar__toggle--styleguide" aria-controls="target" aria-expanded="false">
<label for="navbar__toggle--styleguide" class="c-navbar__toggle-label c-navbar__toggle-label--styleguide" id="navbar__toggle-label--styleguide" aria-label="Menu">
    <span></span>
    <span></span>
    <span></span>
</label>

<!-- Navbar -->
<nav class="c-navbar c-navbar--styleguide" aria-hidden="true">
    <ul>
        <li><a href="../../styleguide">Styleguide</a></li>

        <li><a style="font-weight:bold;" href="../../styleguide">Guidelines</a>
            <ol>
                <li><a href="../Guidelines/new-developer-onboarding.html">Onboarding</a></li>
                <li><a href="../Guidelines">FED Standards</a></li>
            </ol>
        </li>


        <li><a style="font-weight:bold;" href="../Common">Common</a>
            <ol>

                <li>
                    <a href="../Common/Account-Components.html">Account Components</a>
                </li>

                <li>
                    <a href="../Common/Blockquote.html">Blockquote</a>
                </li>

                <li>
                    <a href="../Common/Buttons.html">Buttons</a>
                </li>

                <li>
                    <a href="../Common/Colors.html">Colors</a>
                </li>

                <li>
                    <a href="../Common/Envelope-Card.html">Envelope Card</a>
                </li>

                <li>
                    <a href="../Common/Forms.html">Forms</a>
                </li>

                <li>
                    <a href="../Common/Hero-Banner.html">Hero Banner</a>
                </li>

                <li>
                    <a href="../Common/Inline-Content-Container.html">Inline Content Container</a>
                </li>

                <li>
                    <a href="../Common/Inline-Images.html">Inline Images</a>
                </li>

                <li>
                    <a href="../Common/Lists.html">Lists</a>
                </li>

                <li>
                    <a href="../Common/Media-Object.html">Media Object</a>
                </li>

                <li>
                    <a href="../Common/Panels.html">Panels</a>
                </li>

                <li>
                    <a href="../Common/Promo-Banner.html">Promo Banner</a>
                </li>

                <li>
                    <a href="../Common/SVGs.html">SVG Assets</a>
                </li>

                <li>
                    <a href="../Common/Selectors.html">Selectors</a>
                </li>

                <li>
                    <a href="../Common/Tables.html">Tables</a>
                </li>

                <li>
                    <a href="../Common/Tabs.html">Tabs</a>
                </li>

                <li>
                    <a href="../Common/Typography.html">Typography</a>
                </li>

                <li>
                    <a href="../Common/Address-Card.html">Address Card</a>
                </li>

            </ol>
        </li>

        <li><a style="font-weight:bold;" href="../Features">Features</a>
            <ol>

                <li>
                    <a href="../Features/Confirmation.html">Confirmation</a>
                </li>

                <li>
                    <a href="../Features/Accordion.html">Accordion</a>
                </li>

                <li>
                    <a href="../Features/Alert.html">Alerts</a>
                </li>

                <li>
                    <a href="../Features/Billing-and-Payments.html">Billing &amp; Payments</a>
                </li>

                <li>
                    <a href="../Features/Button-Bar.html">Button Bar</a>
                </li>

                <li>
                    <a href="../Features/Content Image Header.html">Content Image Header</a>
                </li>

                <li>
                    <a href="../Features/Footer.html">Footer</a>
                </li>

                <li>
                    <a href="../Features/Header.html">Header</a>
                </li>

                <li>
                    <a href="../Features/Hero-Login-Promo.html">Hero Login Promo</a>
                </li>

                <li>
                    <a href="../Features/Layout--Full-Page.html">Layout - Full Page</a>
                </li>

                <li>
                    <a href="../Features/Lead-Article-List.html">Lead Article List</a>
                </li>

                <li>
                    <a href="../Features/Manage-Account-Bar.html">Manage Account Bar</a>
                </li>

                <li>
                    <a href="../Features/Manage-Programs.html">Manage Programs</a>
                </li>

                <li>
                    <a href="../Features/Outages.html">Outages</a>
                </li>

                <li>
                    <a href="../Features/Profile-and-Alerts.html">Profile and Alerts</a>
                </li>

                <li>
                    <a href="../Features/Quick-Links.html">Quick Links</a>
                </li>

                <li>
                    <a href="../Features/Review.html">Review</a>
                </li>

                <li>
                    <a href="../Features/Section.html">Section</a>
                </li>

                <li>
                    <a href="../Features/Slider.html">Slider</a>
                </li>

                <li>
                    <a href="../Features/State-Selector.html">State Selector</a>
                </li>

                <li>
                    <a href="../Features/Task Flow.html">Task Flow</a>
                </li>

                <li>
                    <a href="../Features/Twitter-Feed.html">Twitter Feed</a>
                </li>

            </ol>
        </li>

        <li><a style="font-weight:bold;" href="../Layout-Grid-Containers">Layout Grid Containers</a>
            <ol>

                <li>
                    <a href="../Layout-Grid-Containers/1-Column-Containers.html">1 Column Containers</a>
                </li>

                <li>
                    <a href="../Layout-Grid-Containers/2-Column-Containers.html">2 Column Containers</a>
                </li>

                <li>
                    <a href="../Layout-Grid-Containers/3-Column-Containers.html">3 Column Containers</a>
                </li>

                <li>
                    <a href="../Layout-Grid-Containers/4-Column-Containers.html">4 Column Containers</a>
                </li>

            </ol>
        </li>

        <li><a style="font-weight:bold;" href="../Content-Components">Content Components</a>
            <ol>

                <li>
                    <a href="Callout-Carousel.html">Callout Carousel</a>
                </li>

                <li>
                    <a href="Category-Grid.html">Category Grid</a>
                </li>

                <li>
                    <a href="Content-Carousel.html">Content Carousel</a>
                </li>

                <li>
                    <a href="Header-Intro.html">Header Intro</a>
                </li>

                <li>
                    <a href="Hero-Dual-Promo.html">Hero Dual Promo</a>
                </li>

                <li>
                    <a href="Product-Carousel.html">Product Carousel</a>
                </li>

            </ol>
        </li>

        <li><a style="font-weight:bold;" href="../MVP">MVP</a>
            <ol>

                <li>
                    <a href="../MVP/CTA-Grid.html">CTA Grid</a>
                </li>

                <li>
                    <a href="../MVP/Figure-with-Caption.html">Figure with Caption</a>
                </li>

                <li>
                    <a href="../MVP/Zone-Map.html">Zone Map</a>
                </li>

            </ol>
        </li>

    </ul>
</nav>


<main role="main" class="container">


    <h1>Tile Right Focused</h1>

    <div class="demo-section" id="header-intro">


        <div class="rendered-component">

            <div class="cm-container cm-collection--tiles-right cm-collection--tiles--pc" data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/18602&quot;}},{&quot;_&quot;:&quot;properties.items&quot;}]">
                <div class="row-grid row">
                    <div class=" col-xs-12 col-sm-4" data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/16358&quot;}}]">
                        <div class="cm-teasable " data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/16358&quot;}}]">
                            <div class="cm-teasable__wrapper">
                                <a href="/blueprint/servlet/en-us/commercial-lighting?p13n_test=true&amp;p13n_testcontext=0">
                                    <div class="cm-teasable__picture-box" data-cm-metadata="[{&quot;_&quot;:&quot;properties.pictures&quot;},{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/20000&quot;}}]">
                                        <img class="cm-image cm-teasable__picture cm-image--responsive" src="../assets/images/kitchen-light.jpg" alt="kitchen pendant lighting" title="kitchen light (© Shutterstock)" data-cm-metadata="[{&quot;_&quot;:&quot;properties.data&quot;}]">
                                    </div>
                                    <div class="cm-teasable__caption caption">
                                    <h3 class="cm-teasable__headline" data-cm-metadata="[{&quot;_&quot;:&quot;properties.teaserTitle&quot;}]">
                                        <span>Commercial Lighting</span>
                                    </h3>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-sm-4" data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/18614&quot;}}]">
                        <div class="cm-teasable " data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/18614&quot;}}]">
                            <div class="cm-teasable__wrapper">
                                <a href="/blueprint/servlet/en-us/residential-lighting?p13n_test=true&amp;p13n_testcontext=0">
                                    <div class="cm-teasable__picture-box" data-cm-metadata="[{&quot;_&quot;:&quot;properties.pictures&quot;},{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/20074&quot;}}]">
                                        <img class="cm-image cm-teasable__picture cm-image--responsive" src="../assets/images/kitchen-light.jpg" alt="kitchen pendant lighting" title="kitchen light (© Shutterstock)" data-cm-metadata="[{&quot;_&quot;:&quot;properties.data&quot;}]">
                                    </div>
                                    <div class="cm-teasable__caption caption">
                                    <h3 class="cm-teasable__headline" data-cm-metadata="[{&quot;_&quot;:&quot;properties.teaserTitle&quot;}]">
                                        <span>Residential Lighting</span>
                                    </h3>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-sm-4" data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/18622&quot;}}]">
                        <div class="cm-teasable " data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/18622&quot;}}]">
                            <div class="cm-teasable__wrapper">
                                <a href="/blueprint/servlet/en-us/products?p13n_test=true&amp;p13n_testcontext=0">
                                    <div class="cm-teasable__picture-box" data-cm-metadata="[{&quot;_&quot;:&quot;properties.pictures&quot;},{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/20076&quot;}}]">
                                        <img class="cm-image cm-teasable__picture cm-image--responsive" src="../assets/images/recessed-light-office.jpg" alt="kitchen pendant lighting" title="kitchen light (© Shutterstock)" data-cm-metadata="[{&quot;_&quot;:&quot;properties.data&quot;}]">
                                    </div>
                                    <div class="cm-teasable__caption caption">
                                    <h3 class="cm-teasable__headline" data-cm-metadata="[{&quot;_&quot;:&quot;properties.teaserTitle&quot;}]">
                                        <span>Lighting Products</span>
                                    </h3>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-sm-4" data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/21088&quot;}}]">
                        <div class="cm-teasable is-text" data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/21088&quot;}}]">
                            <div class="cm-teasable__wrapper">
                                <a href="/blueprint/servlet/en-us/contact?p13n_test=true&amp;p13n_testcontext=0">
                                    <div class="cm-teasable__picture-box" data-cm-metadata="[{&quot;_&quot;:&quot;properties.pictures&quot;},{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/21098&quot;}}]">
                                        <img class="cm-image cm-teasable__picture cm-image--responsive" src="../assets/images/kitchen-light.jpg" alt="kitchen pendant lighting" title="kitchen light (© Shutterstock)" data-cm-metadata="[{&quot;_&quot;:&quot;properties.data&quot;}]">
                                    </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=21098] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] --> <div class="cm-teasable__caption caption">
                                    <h3 class="cm-teasable__headline" data-cm-metadata="[{&quot;_&quot;:&quot;properties.teaserTitle&quot;}]">
                                        <span>Navigating the complexities of lighting</span>
                                    </h3>
                                </div>
                                </a>
                            </div>
                        </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=21088] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] --><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=21088] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] --> </div>
                    <div class=" col-xs-12 col-sm-4" data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/20952&quot;}}]">
                        <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=20952] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] -->
                        <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=20952] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] -->
                        <div class="cm-teasable is-text" data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/20952&quot;}}]">
                            <div class="cm-teasable__wrapper">
                                <a href="/blueprint/servlet/en-us/articles/led-entrance-and-lobby-lighting-17758?p13n_test=true&amp;p13n_testcontext=0">
                                    <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=20316] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] -->
                                    <div class="cm-teasable__picture-box" data-cm-metadata="[{&quot;_&quot;:&quot;properties.pictures&quot;},{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/20316&quot;}}]">
                                        <img class="cm-image cm-teasable__picture cm-image--responsive" src="../assets/images/kitchen-light.jpg" alt="kitchen pendant lighting" title="kitchen light (© Shutterstock)" data-cm-metadata="[{&quot;_&quot;:&quot;properties.data&quot;}]">
                                    </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=20316] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] --> <div class="cm-teasable__caption caption">
                                    <h3 class="cm-teasable__headline" data-cm-metadata="[{&quot;_&quot;:&quot;properties.teaserTitle&quot;}]">
                                        <span>LED Entrance and Lobby Lighting</span>
                                    </h3>
                                </div>
                                </a>
                            </div>
                        </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=20952] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] --><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=20952] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] --> </div>
                </div>
            </div>
        </div>

        <div class="code-snippet">
            <p class="js-show-code-snippet"><span class="icon icon-arrowdown down-arrow"></span>Show Code</p>
            <p class="js-hide-code-snippet u-hidden"><span class="icon icon-arrowup up-arrow"></span>Hide Code</p>
        </div>

        <div class="js-code-snippet u-hidden">



            <div class="code-snippet html-code">
                <div class="zero-clipboard">
                    <span class="btn-clipboard">Copy</span>
                </div>
                <div class="highlight">
        <pre class="pre-scrollable">
          <code class="language-html"></code>
        </pre>
                </div>
            </div>


        </div>
    </div>

</main>

<script src="../assets/scripts/lib.js"></script>
<script src="../assets/scripts/main.js"></script>


</body>
</html>
