
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>Header Intro | Luminate</title>

    <!-- Custom styles for this template -->
    <link href="../assets/styles/default.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../assets/styles/bootstrap.css" rel="stylesheet">
    <link href="../assets/styles/main.css" rel="stylesheet">
    <link href="../assets/styles/preview.css" rel="stylesheet">
    <link href="../assets/styles/perficient.css" rel="stylesheet">

    <script src="https://use.fontawesome.com/aed209e344.js"></script>
</head>
<body>


<header class="c-header--styleguide" role="banner">
    <div class="c-header__content">
        <nav class="c-breadcrumbs o-inline-list">
            <ul class="list-inline">

                <li>

                    <a href="../index.html">

                        Views
                    </a>


                </li>

                <li>

                    Claim Circle

                </li>

            </ul>

        </nav>

    </div>
</header>
<div class="c-header__push"></div>

<!-- Navbar Toggle -->
<input type="checkbox" class="c-navbar__toggle c-navbar__toggle--styleguide" id="navbar__toggle--styleguide" name="navbar__toggle--styleguide" aria-controls="target" aria-expanded="false">
<label for="navbar__toggle--styleguide" class="c-navbar__toggle-label c-navbar__toggle-label--styleguide" id="navbar__toggle-label--styleguide" aria-label="Menu">
    <span></span>
    <span></span>
    <span></span>
</label>

<!-- Navbar -->
<nav class="c-navbar c-navbar--styleguide" aria-hidden="true">
    <ul>
        <li><a style="font-weight:bold;" href="#">Content Components/Views</a>
            <ol>

                <li>
                    <a href="Claim-Circle.html">Claim Circle</a>
                </li>
                <li>
                    <a href="Carousel-1.html">Carousel 1</a>
                </li>
                <li>
                    <a href="Carousel-2.html">Carousel 2</a>
                </li>
                <li>
                    <a href="Two-Col-Teaser.html">Two Column Teaser</a>
                </li>
                <li>
                    <a href="Three-Col-Teaser.html">Three Column Teaser</a>
                </li>
                <li>
                    <a href="Three-Col-News.html">Three Column News</a>
                </li>
                <li>
                    <a href="Tile-50-50-Landscape.html">Tile Layout 50:50 Landscape</a>
                </li>
                <li>
                    <a href="Tile-50-50-Portrait.html">Tile Layout 50:50 Portrait</a>
                </li>
                <li>
                    <a href="Tile-Center-Focused.html">Tile Layout Center Focused</a>
                </li>
                <li>
                    <a href="Tile-Highlighted.html">Tile Layout Highlighted</a>
                </li>
                <li>
                    <a href="Tile-Landscape.html">Tile Layout Landscape</a>
                </li>
                <li>
                    <a href="Tile-Right-Focused.html">Tile Layout Right Focused</a>
                </li>
                <li>
                    <a href="Big-Image-Left.html">Big Image Left</a>
                </li>
                <li>
                    <a href="Big-Image-Right.html">Big Image Right</a>
                </li>

            </ol>
        </li>

        <li><a style="font-weight:bold;" href="#">Website Layout</a>
            <li>
                <a href="../layout/navigation.html">Navigation</a>
            </li>
            <li>
                <a href="../layout/hero.html">Hero</a>
            </li>
            <li>
                <a href="../layout/footer.html">Footer</a>
            </li>
            <li>
                <a href="../layout/search.html">Search</a>
            </li>
        </li>
    </ul>
</nav>


<main role="main" class="container">


    <h1>Tile Layout Center Focused</h1>

    <!-- Example: Layout -->
    <div class="demo-section" id="header-intro">


        <div class="rendered-component">

            <div class="cm-container cm-collection--tiles-center cm-collection--tiles--pc" data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/18602&quot;}},{&quot;_&quot;:&quot;properties.items&quot;}]">
                <div class="row-grid row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="row-grid row">
                            <div class="col-xs-12 col-sm-12">
                                <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=16358] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] -->
                                <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=16358] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] -->
                                <div class="cm-teasable " data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/16358&quot;}}]">
                                    <div class="cm-teasable__wrapper">
                                        <a href="#">
                                            <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=20000] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] -->
                                            <div class="cm-teasable__picture-box" data-cm-metadata="[{&quot;_&quot;:&quot;properties.pictures&quot;},{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/20000&quot;}}]">
                                                <img class="cm-image cm-teasable__picture cm-image--responsive" src="../assets/images/light-bulbs.jpg" alt="Lobby lighting" title="Office Lobby Light (© Shutterstock)" data-cm-metadata="[{&quot;_&quot;:&quot;properties.data&quot;}]">
                                            </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=20000] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] --> <div class="cm-teasable__caption caption">
                                            <h3 class="cm-teasable__headline" data-cm-metadata="[{&quot;_&quot;:&quot;properties.teaserTitle&quot;}]">
                                                <span>Commercial Lighting</span>
                                            </h3>
                                        </div>
                                        </a>
                                    </div>
                                </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=16358] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] --><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=16358] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] --> </div>
                        </div>
                        <div class="row-grid row">
                            <div class="col-xs-12 col-sm-12">
                                <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=21088] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] -->
                                <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=21088] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] -->
                                <div class="cm-teasable is-text" data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/21088&quot;}}]">
                                    <div class="cm-teasable__wrapper">
                                        <a href="#">
                                            <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=21098] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] -->
                                            <div class="cm-teasable__picture-box" data-cm-metadata="[{&quot;_&quot;:&quot;properties.pictures&quot;},{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/21098&quot;}}]">
                                                <img class="cm-image cm-teasable__picture cm-image--responsive" src="../assets/images/light-bulbs.jpg" alt="Lobby lighting" title="Office Lobby Light (© Shutterstock)" data-cm-metadata="[{&quot;_&quot;:&quot;properties.data&quot;}]">
                                            </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=21098] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] --> <div class="cm-teasable__caption caption">
                                            <h3 class="cm-teasable__headline" data-cm-metadata="[{&quot;_&quot;:&quot;properties.teaserTitle&quot;}]">
                                                <span>Navigating the complexities of lighting</span>
                                            </h3>
                                        </div>
                                        </a>
                                    </div>
                                </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=21088] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] --><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=21088] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] --> </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=18614] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] -->
                        <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=18614] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] -->
                        <div class="cm-teasable " data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/18614&quot;}}]">
                            <div class="cm-teasable__wrapper">
                                <a href="#">
                                    <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=20074] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] -->
                                    <div class="cm-teasable__picture-box" data-cm-metadata="[{&quot;_&quot;:&quot;properties.pictures&quot;},{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/20074&quot;}}]">
                                        <img class="cm-image cm-teasable__picture cm-image--responsive" src="../assets/images/recessed-light-office.jpg" alt="Lobby lighting" title="Office Lobby Light (© Shutterstock)" data-cm-metadata="[{&quot;_&quot;:&quot;properties.data&quot;}]">
                                    </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=20074] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] --> <div class="cm-teasable__caption caption">
                                    <h3 class="cm-teasable__headline" data-cm-metadata="[{&quot;_&quot;:&quot;properties.teaserTitle&quot;}]">
                                        <span>Residential Lighting</span>
                                    </h3>
                                </div>
                                </a>
                            </div>
                        </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=18614] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] --><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=18614] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] --> </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="row-grid row">
                            <div class="col-xs-12 col-sm-12">
                                <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=18622] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] -->
                                <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=18622] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] -->
                                <div class="cm-teasable " data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/18622&quot;}}]">
                                    <div class="cm-teasable__wrapper">
                                        <a href="#">
                                            <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=20076] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] -->
                                            <div class="cm-teasable__picture-box" data-cm-metadata="[{&quot;_&quot;:&quot;properties.pictures&quot;},{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/20076&quot;}}]">
                                                <img class="cm-image cm-teasable__picture cm-image--responsive" src="../assets/images/light-bulbs.jpg" alt="Lobby lighting" title="Office Lobby Light (© Shutterstock)" data-cm-metadata="[{&quot;_&quot;:&quot;properties.data&quot;}]">
                                            </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=20076] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] --> <div class="cm-teasable__caption caption">
                                            <h3 class="cm-teasable__headline" data-cm-metadata="[{&quot;_&quot;:&quot;properties.teaserTitle&quot;}]">
                                                <span>Lighting Products</span>
                                            </h3>
                                        </div>
                                        </a>
                                    </div>
                                </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=18622] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] --><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=18622] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] --> </div>
                        </div>
                        <div class="row-grid row">
                            <div class="col-xs-12 col-sm-12">
                                <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=20952] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] -->
                                <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=20952] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] -->
                                <div class="cm-teasable is-text" data-cm-metadata="[{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/20952&quot;}}]">
                                    <div class="cm-teasable__wrapper">
                                        <a href="#">
                                            <!-- BEGIN com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=20316] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] -->
                                            <div class="cm-teasable__picture-box" data-cm-metadata="[{&quot;_&quot;:&quot;properties.pictures&quot;},{&quot;_&quot;:{&quot;$Ref&quot;:&quot;content/20316&quot;}}]">
                                                <img class="cm-image cm-teasable__picture cm-image--responsive" src="../assets/images/light-bulbs.jpg" alt="Lobby lighting" title="Office Lobby Light (© Shutterstock)" data-cm-metadata="[{&quot;_&quot;:&quot;properties.data&quot;}]">
                                            </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMPictureImpl[id=20316] FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMPicture.ftl] --> <div class="cm-teasable__caption caption">
                                            <h3 class="cm-teasable__headline" data-cm-metadata="[{&quot;_&quot;:&quot;properties.teaserTitle&quot;}]">
                                                <span>LED Entrance and Lobby Lighting</span>
                                            </h3>
                                        </div>
                                        </a>
                                    </div>
                                </div><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=20952] PCteaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.PCteaser.ftl] --><!-- END com.coremedia.blueprint.cae.contentbeans.CMTeaserImpl[id=20952] asPCTeaser FreemarkerView[template=/jar:id:contentproperty:/Themes/perficient/templates/perficient&#8211;templates.jar/archive!/META&#8211;INF/resources/WEB&#8211;INF/templates/perficient/com.coremedia.blueprint.common.contentbeans/CMTeasable.asPCTeaser.ftl] --> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="code-snippet">
            <p class="js-show-code-snippet"><span class="icon icon-arrowdown down-arrow"></span>Show Code</p>
            <p class="js-hide-code-snippet u-hidden"><span class="icon icon-arrowup up-arrow"></span>Hide Code</p>
        </div>

        <div class="js-code-snippet u-hidden">



            <div class="code-snippet html-code">
                <div class="zero-clipboard">
                    <span class="btn-clipboard">Copy</span>
                </div>
                <div class="highlight">
        <pre class="pre-scrollable">
          <code class="language-html"></code>
        </pre>
                </div>
            </div>


        </div>
    </div>

</main>

<script src="../assets/scripts/lib.js"></script>
<script src="../assets/scripts/main.js"></script>


</body>
</html>
